.reset-password {
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #00719c;
    background: none;
    border: none;
    overflow: hidden;
    align-self: flex-start;
}
/* height: 281px; */
